<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title></title>

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    {{= nm.templateStyles }} {{= nm.pageStyles }}
  </head>

  <body>
    {{#def.include('nav')}} {{#def.include('about-content')}} {{#def.include('footer')}}
  </body>

  <script src="/assets/js/main.js"></script>
  {{= nm.templateScripts }} {{= nm.pageScripts }}
</html>
