.content {
  @apply flex flex-col my-8;
  @apply py-8 items-start;

  @screen sm {
    @apply flex-row;
  }
}

.content-left {
  @screen sm {
    @apply sticky;
    top: 35%;
    width: 40%;
  }

  h3 {
    @apply text-4xl mb-4;
  }

  a {
    @apply font-serif text-lg italic block leading-8;

    &:hover::before {
      content: "";
      width: 50px;
      height: 1px;
      display: inline-block;
      background: black;
      margin-left: -60px;
      margin-right: 10px;
      margin-bottom: 5px;
    }
  }

  img {
    width: 140px;
  }
}

.content-right {
  @apply w-full;

  @screen sm {
    @apply w-3/5 pl-8 pr-16;
  }

  section {
    padding-top: 35px;
  }

  section + section {
    padding-top: 70px;
  }

  h3 {
    @apply text-3xl leading-10 mb-3;
  }

  span {
    @apply font-serif block leading-none mb-4 mt-8;
    font-size: 100px;
    height: 40px;

    @screen md {
      @apply mt-0;
    }
  }

  hr {
    @apply mb-8;
  }

  h5 {
    @apply font-sans text-xl font-bold mb-4;
  }

  h6 {
    @apply font-serif text-xl italic;
  }

  p {
    @apply mb-4;
  }

  img {
    @apply my-4 w-full;

    @srceen sm {
      @apply max-w-full;
    }
  }

  .author-quote {
    @apply mt-8;
  }
}
