<section class="clients">
  <h2 class="container">Clients</h2>
  <div class="client-logo-bg">
    <div class="client-logos container">
      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>

      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>
      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>
      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>
      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>
      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>

      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>

      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>

      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>

      <div class="client-logo">
        <img src="https://picsum.photos/200" />
      </div>
    </div>
  </div>
</section>
