<div class="content home-content container">
  <div class="content-left">
    <img src="https://picsum.photos/200" />
  </div>

  <div class="content-right">
    <h3>Freelance Writer, Editor, & Communications Consultant</h3>
    <p>
      I am a freelance copywriter, editor, and communications consultant. Now based in Vietnam, I relocated from London in 2016 after almost
      a decade in media relations and public affairs roles.
    </p>
    <a href="#" class="btn">LEARN MORE</a>
  </div>
</div>
