.site-nav {
  @apply sticky top-0 bg-white hidden z-10;

  @screen md {
    @apply block;
  }

  &.container {
    @apply mt-4 border-b border-gray-300;
  }
}

.site-nav ul {
  @apply flex justify-center;
}

.site-nav ul li a {
  @apply inline-block px-6 py-4 whitespace-no-wrap;
  color: $color-body;

  @screen md {
    @apply px-4;
  }
}

// Mobile nav
.mb-nav {
  @apply block border-b border-gray-300;
  padding: 10px 0;

  @screen md {
    @apply hidden;
  }

  .mb-nav-icon {
    @apply w-8 mx-auto cursor-pointer;

    span {
      @apply block w-full bg-gray-900;
      height: 2px;
      margin: 5px 0;
    }
  }

  #toggle-nav:checked + ul {
    @apply block py-2;
  }

  ul {
    @apply flex-col hidden absolute bg-white justify-start border-l border-gray-300 w-full shadow;
    top: 47px;
  }
}

.site-header {
  @apply font-serif text-center py-6;

  &.container {
    @apply border-b border-gray-300;
  }

  h1 {
    @apply leading-none text-4xl;

    @screen sm {
      @apply text-5xl;
    }

    @screen md {
      @apply text-6xl;
    }

    @screen lg {
      font-size: 72px;
    }
  }

  p {
    @apply tracking-wider italic;
  }
}
