<nav class="site-nav container">
  <ul>
    {{~ nm.defs.nav :link}}
     <li><a href="{{= link.slug}}">{{= link.title}}</a></li>
    {{~}}
  </ul>
</nav>

<nav class="site-nav mb-nav">
  <div class="mb-nav-icon">
    <label for="toggle-nav">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <input id="toggle-nav" type="checkbox" class="hidden" />
  <ul>
    <li>
      {{~ nm.defs.nav :link}}
        <li><a href="{{= link.slug}}">{{= link.title}}</a></li>
      {{~}}
    </li>
  </ul>
</nav>

<header class="site-header container">
  <h1>Laurence Newman</h1>
  <p>Writer | Communications Consultant | Editor</p>
</header>
