<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title></title>

    <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
    {{= nm.templateStyles }} {{= nm.pageStyles }}
  </head>

  <body>
    {{#def.include('nav')}}
    <div class="content container">
      <div class="content-left">
        <h3>{{= nm.title}}</h3>
        {{~ nm.content :content}}
        {{? content.title}} <a href="#{{= content.title}}">{{= content.title}}</a>{{?}}
        {{~}}
        <!--about me-->
        {{? nm.avatar}}
          <img src="{{= nm.avatar}}"/>
        {{?}} 
      </div>

      <div class="content-right">
        {{~ nm.quotes: quote}}
        <span>&ldquo;</span>
        <h6>{{= quote.content}}</h6>
        <h5>{{= quote.author}}</h5>
        </br>
        <hr />
        {{~}}
        <!---->
        {{?nm.quote}}
        <span>&ldquo;</span>
        <h6>{{= nm.quote}}</h6>
        {{?}}
        <!---->
        {{~ nm.content :content}} 
          <section id="{{=content.title}}">
            <!---->
            {{= content.description}}
            <!---->
            {{~ content.images : image}}
            <img src="{{= image}}" />
            {{~}}
          </section>
         {{~}}
      </div>
    </div>

    {{#def.include('footer')}}
  </body>

  <script src="/assets/js/main.js"></script>
  {{= nm.templateScripts }} {{= nm.pageScripts }}
</html>
